<div class="body-container">
  <div class="block-container">
    <div class="block-header clearfix">
      <h1 class="ebtry-title">VASILY 課題</h1>
      <div class="animation-block-to-yazirushi">
        <ul class="clearfix to-yazirushi-menu">
          <li class="to-yazirushi-first">
            <div class="yazirushi-box"></div> 
          </li>
          <li class="to-yazirushi-seccond">
            <div class="yazirushi-box"></div>
          </li>
          <li class="to-yazirushi-third">
            <div class="yazirushi-box right-sankaku"></div>
          </li>
        </ul>
      </div>
    </div><!-- // block-header -->
    <div class="detail-info-block">
      <div class="detail-info-block-sentence">
        <p>VASILY株式会社様</p>
        <p>お世話になっております、先日面談させて頂きました小守です。</p>
        <p>必要であれば、作成したGithubアカウントも参考にして頂ければ幸いです。<br/>
        宜しくお願いします。</p>
      </div>
    </div>
    <div class="detail-info-block">
      <div class="detail-info-block-title">
        <p class="font-strong">Create Github account</p>
      </div>
      <div class="detail-info-block-sentence">
        <p><a href="https://github.com/komokei" target="_blank">https://github.com/komokei</a></p>
      </div>
    </div>
  </div><!-- // block-container -->
</div><!-- // body-container -->
