<div class="body-container">
  <div class="body-container-inner">
    <div class="block-container">
      <div class="block-header">
        <h1 class="ebtry-title">VASILY 課題</h1>
        <div class="animation-block to-yazirushi">
          <ul class="clearfix to-yazirushi-menu">
            <li class="to-yazirushi-first">
              <div class="yazirushi-box"></div> 
            </li>
            <li class="to-yazirushi-seccond">
              <div class="yazirushi-box"></div>
            </li>
            <li class="to-yazirushi-third">
              <div class="yazirushi-box"></div>
            </li>
          </ul>
        </div>
      </div><!-- // block-header -->
    </div>
  </div>
</div>