.detail-info-block-title p {
  font-size: 1.8rem;
}

.detail-info-block-sentence {
  font-size: 1.8rem;
}

.detail-info-block-sentence a {
  font-size: 1.4rem;
}

.font-strong {
  font-weight: bold;
}